* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
}

body {
    margin: 0;
    background: #000 !important;
}

main {
    display: block;
}

:is(h1, .item a, .btn-contact, h2, .btn-subscribe, .btn-view-more) {
    font-family: 'Poppins', sans-serif;
}

:is(p, h3, .day, .hour, .info-contact a) {
    font-family: 'Montserrat', sans-serif !important;
}

:is(p, .contact-data a) {
    font-size: 18px !important;
}

.gold-text {
    color: #D9B341;
}

.white-txt {
    color: #fff !important;
}

:is(.nav_link, .social-networks .icon) {
    position: relative;
    color: #ffff !important;
}

.menu {
    position: fixed;
    height: 120px !important;
    width: 100% !important;
    z-index: 100;
    background-color: #000;
    box-shadow: 100px 0px 100px 30px rgba(217, 179, 65, 0.5);
}

.black-background {
    background-color: #000;
    box-shadow: none;
}

.transparent {
    background-color: transparent;
}

.button-logo .logo-barberia-loria {
    width: 170px;
    top: -25px;
    position: absolute;
    aspect-ratio: 1;
}

.navbar-nav {
    margin-top: 30px !important;
    padding: 14px !important;
    float: right !important
}

.nav_link i {
    display: none;
}

.item {
    display: inline-block !important;
    margin: 0 5px !important
}

.nav_link {
    font-size: 16px !important;
    padding: 7px 13px !important;
    border-radius: 3px !important;
    font-weight: 499 !important;
    top: 7px;
}

.item .nav_link:hover {
    color: #E2B853 !important;
    border: none;
    border-bottom: 2px solid #E2B853 !important
}

.icon:hover {
    color: #E2B853 !important;
    border: none !important
}

.social-networks {
    padding: 1px 35px 1px 30px;
    float: right;
    margin-right: 5px
}

.social-networks .item {
    color: #ffff !important;
    display: inline !important;
    margin: 5px !important
}

.icon {
    font-size: 25px;
}

.nav_menu {
    margin-left: auto;
    display: none
}

:is(.nav_link, .social-networks .icon):hover {
    color: #D9B341 !important;
}

:is(.nav_link, .btn-product) {
    font-family: 'Poppins', sans-serif;
}

.btn-product {
    color: #ffff;
    background: #D9B341 !important;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: solid 2px transparent !important;
    font-weight: bold !important;
}

:is(.btn-product, .btn-view-more, .btn-subscribe):hover {
    border-color: #D9B341 !important;
    background: transparent !important;
    color: #D9B341 !important;
}

.banner {
    position: relative;
    background-size: cover;
    background-image: url(../images/banner.png);
    background-position: center;
    height: 700px;
    top: 120px;
    margin-bottom: 100px;
}

.info-banner {
    padding: 180px 0 !important;
}

.banner h1 {
    font-size: 50px !important;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
}

.banner p {
    padding: 0 20%;
    font-weight: 600;
    font-size: 20px !important;
}

.btn-contact {
    background-color: #ffff !important;
}

.btn-contact-white {
    border: solid 2px transparent !important;
    padding: 10px 50px !important;
    font-weight: bold !important;
}

.col-title {
    margin-bottom: 40px;
}

:is(.services, .benefits, .galery, .testimonies, .about, .localization, .cta, .footer) {
    padding-top: 180px;
}

.information {
    padding-top: 50px !important;
    margin-top: 180px !important;
}


:is(.galery, .about, .cta) {
    background: rgba(27, 8, 8, 0.7);
    box-shadow: inset 0px 4px 250px 150px #000000;
}

:is(.information, .footer-policies) {
    background: rgba(27, 8, 8, 0.7);
    box-shadow: inset 40px 4px 100px rgba(0, 0, 0, 0.95);
}

.btn-more-galery {
    margin-top: 50px !important;
}

.img-galery img:hover {
    transform: scale(.95);
    transition: 1s cubic-bezier(.19, 1, .22, 1) !important;
}

.btn-contact i {
    font-size: 22px;
}

.btn-contact-white:hover {
    background-color: #D9B341 !important;
    color: #000 !important;
    border: 2px #000 solid !important;
}

:is(.services .card, .testimonies .card) {
    color: #000;
    margin: 20px auto;
    margin-bottom: 20px;
}

.services .card img {
    aspect-ratio: 1.3;
}

.services .card h2 {
    padding-top: 5px;
    font-size: 22px;
    float: left;
    font-weight: 500;
}

.services .card p,
.testimonies .card p {
    font-size: 16px !important;
}

.services .card .price {
    font-weight: 600;
    text-align: end;
    font-size: 22px !important;
}

.services .btn-contact {
    background: #5C0000 !important;
    border: 2px solid #F3F3F3;
    box-shadow: inset 5px 4px 30px 5px rgba(0, 0, 0, 0.7);
    width: 100%;
    font-weight: 500;
}

.services .btn-contact:hover {
    background-color: #000 !important;
    border: #fff solid 1px;
}

.btn-view-more {
    background: #F2D857 !important;
    box-shadow: inset 0px 4px 30px 10px rgba(0, 0, 0, 0.4) !important;
    font-weight: bold !important;
    padding: 10px 25px !important;
    border: solid 2px transparent !important;
}

:is(.services .btn-view-more, .testimonies .btn-view-more) {
    margin-top: 50px;
}

:is(.benefit, .info-contact) {
    display: flex;
    margin-bottom: 40px;
}

.benefit {
    padding: 0 60px;
}

.benefit h2 {
    padding-top: 16px;
}

.benefit:hover {
    border: solid 1px #D9B341;
    border-radius: 0 10px;
}

.icon-benefit {
    font-size: 40px;
    margin-right: 20px;
}

:is(.img-galery, .hide-service, .hide-testimony) {
    display: none;
}

:is(.hide-service, .img-galery, .hide-testimony):nth-child(-n+3) {
    display: inline-block;
}

:is(.image-galery, .details .icon, .img-testimony) {
    cursor: pointer !important;
}

.image-galery {
    width: 100% !important;
}

:is(.button-contact, .autority-container) {
    animation: pulse 0.7s ease-in-out infinite alternate;
}

.testimonies .card-testimony {
    border: solid 2px #D9B341;
    border-radius: 10px;
}

.card-testimony img {
    border-radius: 10px;
}

.card-testimony .stars {
    color: #D9B341;
    margin: 10px 0;
}

.card-testimony .stars:hover {
    color: #000;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}

.testimony-img {
    margin-bottom: 70px !important;
}

.about .btn-view-more {
    display: none;
}

.img-about {
    position: relative;
    height: 500px;
    margin-left: 20px;
    aspect-ratio: 0.7;
}

.border-img-about {
    position: absolute;
    border: 10px solid #D9B341;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.6);
    height: 480px;
    width: 250px;
    margin-top: 70px;
}

.info-barbershop {
    padding-top: 150px;
    margin-left: 50px;
}

.info-barbershop h1 {
    margin-bottom: 30px;
}

.statistics {
    padding-top: 150px !important;
}

.statistics p {
    text-align: center;
}

.statistics .number {
    font-size: 35px !important;
    font-weight: bold;
    margin-bottom: 0;
}

.statistics .text {
    font-weight: 500;
    font-size: 20px !important;
}

.localization iframe {
    width: 100%;
}

:is(.video-cta, .localization iframe) {
    border-radius: 10px;
}

.info-contact i {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
}

.contact-data {
    display: flex;
    justify-content: center;
}

.contact-data a {
    padding: 2px 10px;
}

.contact-data a:hover {
    color: #D9B341 !important;
    border-bottom: solid 1px #fff;
}

.brand-footer {
    width: 250px;
    height: 250px;
    margin-left: -28px;
    aspect-ratio: 1;
}

.footer-social {
    position: relative;
    top: -50px;
    left: -50px;
}

.footer .icon {
    margin-right: 20px;
}

.table-schedule {
    margin: 0 auto;
    width: 90% !important;
    font-size: 18px;
    margin-bottom: 100px !important;
}

.table-schedule td {
    border-style: none !important;
}

.privacy-policies {
    text-align: end;
}

:is(.title-schedule, .title-subscribe) {
    margin-bottom: 25px;
}

.paragraph-footer {
    text-align: justify !important;
}

.btn-subscribe {
    background-color: transparent !important;
    border: solid 1px #fff !important;
    color: #fff !important;
    padding: 10px 40px !important;
    font-weight: 500 !important;
    border-radius: 2px !important;
    margin-top: 15px !important;
}

.float-button,
.whatsapp {
    height: 60px;
    bottom: 55px;
    right: 40px;
}

.texto,
.whatsapp {
    background-color: #25d366;
    color: #fff;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float-button,
.texto,
.whatsapp {
    position: fixed !important;
}

@keyframes palpito {

    from,
    to {
        transform: none;
    }

    75% {
        transform: scale(1.1);
    }
}

.float-button {
    width: 250px;
}

.whatsapp {
    width: 60px;
    border-radius: 50px;
    font-size: 40px;
    z-index: 100;
    animation: .9s infinite palpito;
    transition: 1s cubic-bezier(.19, 1, .22, 1) !important;
}

.whatsapp:hover {
    color: #25d366;
    background-color: #fff;
}

.texto {
    right: 70px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 10px;
    width: 180px;
    height: 27px;
}

.whatsapp-icon {
    margin-top: 5px;
}


@media screen and (min-width:1024px) and (max-width:1200px) {
    .info-barbershop {
        margin-left: 100px;
    }
}

@media screen and (max-width:1024px) {

    p {
        font-size: 16px !important;
    }

    .menu {
        height: 110px !important;
    }

    .navbar-nav--menu {
        position: fixed;
        z-index: 100;
    }

    hr.divider {
        border-top: 2px solid #bbb;
        width: 100%;
        margin: auto !important
    }

    .item {
        margin-top: 20px !important;
        padding-bottom: 19px
    }

    .navbar-nav--menu {
        background-color: #000;
        top: 108px;
        left: 0;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        opacity: 0;
        pointer-events: none;
        transition: opacity .7s
    }

    .navbar-nav.show {
        --show: block;
        opacity: 1;
        pointer-events: unset
    }

    .navbar-nav {
        margin-top: 0 !important;
    }

    .nav_menu {
        display: flex;
        margin-right: 30px !important;
        margin-top: 50px;
        width: 40px;
        height: 40px;
        border: none;
        background: 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .nav_menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: .2s linear;
        margin-right: 10px
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: column !important
    }

    .nav_link i {
        display: inline-block;
    }

    .nav_menu.close span {
        opacity: 1;
        transform: rotate(45deg) translate(0, 0);
        background: #fff
    }

    .nav_menu.close span:nth-child(2) {
        transform: rotate(-45deg) translate(-8px, 5px)
    }

    .nav_menu.close span:nth-child(3) {
        display: none
    }

    .banner {
        top: 110px;
    }

    .banner p {
        padding: 0 20%;
    }

    .about .btn-view-more {
        display: block;
        margin: 0 auto;
    }

    .benefit {
        flex-direction: column;
        padding: 0 20px;
    }

    .benefit i {
        margin-bottom: 20px;
    }

    .hide-text {
        display: none;
    }

    .show {
        display: block;
    }

    .wrapper-about {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    .image-galery {
        width: 100% !important;
    }

    .img-about {
        left: 49px;
    }

    .border-img-about {
        margin-left: -115px;
    }

    .info-barbershop {
        flex: 1 0 100% !important;
        margin-left: 0;
        padding-top: 90px;
    }

    .info-barbershop h1 {
        text-align: center;
    }

    .info-barbershop p {
        margin-bottom: 30px !important;
        font-size: 25px !important;
        text-align: justify !important;
    }

    .statistics {
        margin-top: 50px !important;
    }

    .cta-responsive {
        flex: 1 0 100% !important;
    }

    .info-cta {
        margin-bottom: 40px;
        text-align: center;
    }


    .contact-data:nth-child(3) {
        flex: 1 0 100% !important;
    }

    .footer-responsive {
        flex: 1 0 100% !important;
    }

    .brand-mobile {
        text-align: center !important;
    }

    .footer-social {
        left: 0;
    }

    .title-schedule {
        text-align: center !important;
    }

    :is(.copyright, .text-policies, .paragraph-footer) {
        text-align: center !important;
    }

    .subcribe-col {
        margin: 40px 0 !important;
    }

    .info-barber {
        margin-bottom: 20px !important;
    }

    .table-schedule {
        width: 50% !important;
        text-align: center;
    }

    .paragraph-footer {
        padding: 0 200px !important;
        text-align: center !important;
    }

    .footer-policies {
        margin-top: 100px !important;
    }

    .footer {
        padding-top: 100px !important;
    }

    :is(.info-cta .gold-text, .info-cta p) {
        text-align: left !important;
    }

    .info-cta p {
        font-size: 25px !important;
    }

    .info-cta .btn-contact {
        margin-bottom: 30px !important;
        float: left !important;
    }

    .social-networks {
        padding-left: 20px !important;
    }
}

@media screen and (max-width:800px) {
    .benefit-responsive {
        width: 100% !important;
    }

    .border-img-about {
        height: 430px;
    }

    .img-about {
        height: 450px;
        left: 20px;
    }

    .tablet-statics {
        flex: 1 0 100% !important;
    }

    .table-schedule {
        width: 60% !important;
    }

    .image-galery {
        width: 80% !important;
        margin: 0 auto !important;
        display: block !important;
    }

    .info-cta p {
        font-size: 18px !important;
    }

    .paragraph-footer {
        padding: 0 0 !important;
    }

    .brand-footer {
        margin-left: 0 !important;
    }

    .icon-footer {
        margin-left: 10px !important;
    }

    .info-contact p,
    .info-barbershop p {
        font-size: 16px !important;
    }

    .autority {
        padding-bottom: 15px !important;
        flex: 1 0 100% !important;
    }

    .statistics,
    .localization,
    .cta {
        padding: 100px 0 !important;
    }

    .information {
        margin-top: 0 !important;
        padding-top: 60px !important;
    }

    .table-schedule {
        font-size: 16px !important;
    }

}

@media screen and (max-width:480px) {
    section .row{
        margin: auto 0 !important;
    }

    .button-logo .logo-barberia-loria {
        width: 150px;
        top: -12px;
    }

    .info-banner {
        padding-top: 135px !important;
    }

    .banner h1 {
        font-size: 35px !important;
    }

    .banner p {
        padding: 0;
        font-size: 18px !important;
    }

    .btn-contact {
        width: 80%;
    }

    .btn-contact-white {
        padding: 10px 0 !important;
    }

    :is(.hide-service, .hide-testimony){
      flex: 1 0 100% !important;  
    }

    :is(.services .card, .testimonies .card) {
        width: auto!important;
    }

    .services .card h2 {
        font-size: 18px;
    }

    .services .card .price {
        font-size: 18px !important;
        font-weight: 600;
    }

    .benefit {
        padding: 0;
    }

    .image-galery {
        width: 100% !important;
    }

    .img-testimony {
        width: 18rem !important;
    }

    .border-img-about {
        height: 350px;
        width: 210px;
        margin-left: -100px;
    }

    .img-about {
        height: 380px;
        left: 15px;
    }

    .static-mobile {
        flex: 1 0 100% !important;
    }

    .autority {
        margin-bottom: 50px !important;
    }

    .localization iframe {
        height: 400px;
    }

    .contact-data {
        flex: 1 0 100% !important;
        justify-content: left;
    }

    .table-schedule {
        width: 100% !important;
    }

    .hour {
        text-align: end !important;
    }

    .info-cta .btn-contact {
        width: 100% !important;
    }

    .info-cta p {
        font-size: 16px !important;
    }

}