* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
}

body {
    margin: 0;
    background: #000 !important;
}

main {
    display: block;
}

p {
    font-size: 18px !important;
}

.header {
    background-size: cover;
    background-image: url(../images/banner-home.png);
    background-position: center;
}

.gold-text {
    color: #D9B341;
}

.white-txt {
    color: #fff !important;
}

:is(.nav_link, .social-networks .icon) {
    position: relative;
    color: #ffff !important;
}

.menu {
    height: 100px !important;
    width: 100% !important;
    background-color: transparent !important;
}
.button-logo .logo-barberia-loria {
    height: 200px;
    width: 200px;
    top: -55px;
    position: absolute
}
.navbar-nav {
    margin-top: 25px !important;
    padding: 14px !important;
    float: right !important
}

.nav_link i{
    display: none;
}
.item {
    display: inline-block !important;
    margin: 0 5px !important
}
.item a {
    font-family: 'Poppins', sans-serif !important;
}

.nav_link {
    font-size: 16px !important;
    padding: 7px 13px !important;
    border-radius: 3px !important;
    font-weight: 499 !important;
    top: 7px;
}

.item .nav_link:hover {
    color: #E2B853 !important;
    border: none;
    border-bottom: 2px solid #E2B853 !important
}
.item .icon:hover {
    color: #E2B853 !important;
    border: none !important
}
.social-networks {
    padding: 1px 35px 1px 30px;
    float: right;
    margin-right: 5px
}
.social-networks .item {
    color: #ffff !important;
    display: inline !important;
    margin: 5px !important
}
.icon {
    font-size: 25px;
}

.nav_menu {
    margin-left: auto;
    display: none
}

:is(.nav_link, .social-networks .icon):hover {
    color: #D9B341 !important;
}

:is(.nav_link, .btn-product) {
    font-family: 'Poppins', sans-serif;
}

.btn-product {
    color: #ffff;
    background: #D9B341 !important;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: solid 2px transparent !important;
    font-weight: bold !important;
}

:is(.btn-product, .btn-view-more):hover {
    border-color: #D9B341 !important;
    background: transparent !important;
    color: #D9B341 !important;
}

.banner {
    height: 450px;
    text-align: center;
}

.info-banner {
    padding: 60px 20px !important;
}

.banner h1 {
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.banner p {
    padding: 0 30%;
    font-weight: 500;
}

.btn-contact {
    background-color: #ffff !important;
}

.btn-contact-white {
    border: solid 2px transparent !important;
    padding: 10px 50px !important;
    font-weight: bold !important;
}

.col-title{
    margin-bottom: 40px;
}

:is(.services, .benefits, .galery, .testimonies, .about, .localization, .information, .cta, .footer) {
    padding-top: 100px;
}


:is(.galery, .about, .cta, .information) {
    background: #1b0808;
    box-shadow: inset 100px 4px 250px 180px #000000;
}

.btn-contact i {
    font-size: 22px;
}

.btn-contact-white:hover {
    background-color: #D9B341 !important;
    color: #000 !important;
    border: 2px #000 solid !important;
}

.services .card {
    color: #000;
    margin: 20px auto;
    margin-bottom: 20px;
}

.services .card h2 {
    font-size: 25px;
    float: left;
}

.services .card p {
    font-size: 16px !important;
}

.services .card .price {
    font-weight: bold;
    text-align: end;
    font-size: 20px !important;
}

.services .btn-contact {
    background: #5C0000 !important;
    border: 2px solid #F3F3F3;
    box-shadow: inset 5px 4px 30px 5px rgba(0, 0, 0, 0.7);
    width: 100%;
    font-weight: bold;
}

.services .btn-contact:hover {
    background-color: #000 !important;
    border: #fff solid 1px;
}

.btn-view-more {
    background: #F2D857 !important;
    box-shadow: inset 0px 4px 30px 10px rgba(0, 0, 0, 0.4) !important;
    font-weight: bold !important;
    padding: 10px 25px !important;
    border: solid 2px transparent !important;
}

.benefit{
    display: flex;
}

.icon-benefit{
    font-size: 40px;
    margin-right: 20px;
}

.video-testimony{
    width: 23rem;
}

.localization iframe {
    width: 100%;
}

@media screen and (max-width:1024px) {

    .navbar-nav--menu {
        position: fixed;
        z-index: 100;
    }

    hr.divider {
        border-top: 2px solid #bbb;
        width: 100%;
        margin: auto !important
    }

    .item {
        margin-top: 20px !important;
        padding-bottom: 10px
    }

    .navbar-nav--menu {
        background: radial-gradient(rgba(255, 255, 255, 0) .9%, rgba(255, 255, 255, 7.89793e-09) 58.12%, rgba(255, 255, 255, .2) 100%), #000;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        top: 120px;
        left: 0;
        height: auto;
        width: 100%;
        justify-content: space-evenly;
        opacity: 0;
        pointer-events: none;
        transition: opacity .7s
    }

    .navbar-nav.show {
        --show: block;
        opacity: 1;
        pointer-events: unset
    }

    .nav_menu {
        display: flex;
        margin-right: 30px !important;
        width: 40px;
        height: 40px;
        border: none;
        background: 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .nav_menu span {
        width: 37px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: .2s linear;
        margin-right: 10px
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: column !important
    }

    .banner p {
        padding: 0 20%;
    }
}

@media screen and (max-width:800px){
    .benefit-responsive{
        width: 100% !important;
    }

}

@media screen and (max-width:480px) {
    .banner p {
        padding: 0;
    }

    .btn-contact {
        width: 80%;
    }

    .services .card{
        width: 20rem !important;
    }

    .video-testimony{
        width: 20rem;
    }
}